@keyframes flash-message--animation {
	0% {
		opacity: 1;
		transform: translateY(-100%);
	}
	10% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
		opacity: 0.9;
	}
	100% {
		opacity: 0.8;
		display: none;
		transform: translateY(-100%);
	}
}

.flash-message__container {
	animation: flash-message--animation 3s ease-in-out forwards;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
	z-index: 999;
	font-size: 1.3em;
	&.error {
		background-color: red;
	}

	&.info {
		background-color: blue;
	}

	&.success {
		background-color: olive;
	}

	.flash-message__text {
		color: white;
		font-weight: 600;
	}
}
